body {
    background-color: rgb(208, 205, 205);
}

h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    font-family: 'Garamond', Times, serif;
    font-style: italic;
    font-size: 24px;
}

